body {

}

.tweetDataContainer {
    background-color: white;
    margin: 10px 20px 20px 10px;
    -webkit-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.4);
}

.tweetSenderPictureContainer {
    float:left;
    margin: 10px;
    width: 50px;
}

.tweetContainer {
    
    display: inline-block;
    width: 80%;
}

.tweetControlsContainer {
    padding: 15px 0;
    position: relative;
}

.tweetPublicationData {
    
    width: 100%;
    padding: 7px 0;
}

.divTweet {
    
    height: 150px;
    width: 150px;
}

.tweetPublicationDate {
    position:relative;
    left: 120px;
}

.timeLineContainer {
    height: 750px;
    width: 35%;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: 10px;
}

.mentionsContainer {
    height: 750px;
    width: 35%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
}