﻿body {

}

textarea {
    width: 80%;
    height: 8rem;
}

#btnSendTweet {
    margin-left: 45px;
}

.card {
    margin: 0.5rem 0 2rem 0.5rem;
}

.card.horizontal {
    margin-top: 100px;
    width: 97%;
}

.card.horizontal ~ .card.horizontal {
    margin-top: 0;
    width: 97%;
}

.timeLineContainer {
    overflow-y: scroll;
    height: 750px;
    width: 35%;
    float: left;
    margin-right: 50px;
    background-color: #f5f5f5;
}

.mentionsContainer {
    overflow-y: scroll;
    height: 750px;
    width: 35%;
    display: inline-block;
    background-color: #f5f5f5;
}

.card-content.tweet-sender {
    padding: 10px 0 0 20px;
}

.tweetSenderUserName {
    font-weight: bold;
}

.tweetSenderScreenName {
    margin-left: 5px;
}

.tweetPublicationDate {
    margin-left: 25px;
}

body ::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
}
/* optional: show position indicator in red */
body ::-webkit-scrollbar-thumb {
    background: #03A9F4;
    height: 50px;
}

.reply {
    display: inline-block !important;
    width: 35px;
    display: block;
    background-image: url("../images/reply.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    text-align: end;
    margin-right: 35px;
    border: none;
    background-color: #FFFFFF;
}

.reply::before {
    content: "\00a0";
}

.retweet {
    display: inline-block;
    width: 60px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    text-align: end;
    margin-right: 35px;
    border: none;
    background-color: #FFFFFF;
}

.like {
    display: inline-block;
    width: 60px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    text-align: end;
    border: none;
    background-color: #FFFFFF;
}

h4 {
    text-align: center;
    margin: 1.14rem 0 2rem 0
}

.headerDiv {
    position: fixed;
    z-index: 100;
    background-color: #f5f5f5;
    width: 508px;
    text-align: right;
}

.retweetedByUser {
    font-size: 14px;
    color: #656565;
    position: relative;
    bottom: 5px;
}

.modal {
    width: 30%;
}

.modal > .card.horizontal {
    margin-top: 0px;
}

.textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    width: 80%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    height: 7rem;
}

.divSignIn {
    width: 200px;
    height: 600px;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}